<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

{%- include snippets/get-article-title.html article=page -%}
<title>{%- if __return -%}{{ __return }} - {{ site.title | smartify }}{%- else -%}{{ site.title | smartify }}{%- endif -%}</title>

<meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
<link rel="canonical" href="{%- include snippets/page-url.html -%}">

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title | smartify }}" href="{{ __return }}">

{%- include head/favicon.html -%}

{%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}">

{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}

{%- assign _preconnect_urls = _sources.font_awesome
  | append: ',' | append: _sources.jquery
  | append: ',' | append: _sources.leancloud_js_sdk
  | append: ',' | append: _sources.valine
  | append: ',' | append: _sources.mathjax
  | append: ',' | append: _sources.mermaid
  | append: ',' | append: _sources.chart
  | append: ',' | append: _sources.gitalk.js
  | append: ',' | append: _sources.gitalk.css
  | split: ',' -%}
{%- assign _seen_hosts = '|' -%}
{%- for _url in _preconnect_urls -%}
  {%- assign _url = _url | strip -%}
  {%- if _url contains '//' -%}
    {%- assign _host = _url
      | replace: 'https://', ''
      | replace: 'http://', ''
      | replace: '//', ''
      | split: '/'
      | first -%}
    {%- assign _token = '|' | append: _host | append: '|' -%}
    {%- unless _seen_hosts contains _token -%}
<link rel="dns-prefetch" href="//{{ _host }}">
<link rel="preconnect" href="https://{{ _host }}" crossorigin>
      {%- assign _seen_hosts = _seen_hosts | append: _host | append: '|' -%}
    {%- endunless -%}
  {%- endif -%}
{%- endfor -%}

<link rel="stylesheet" href="{{ _sources.font_awesome }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ _sources.font_awesome }}"></noscript>

{%- include head/custom.html -%}
