<p><center></p>
<h1>2024“京华杯”信息安全综合能力竞赛</h1>
<p>2024 年 10 月 12 日（周六）~ 19 日（周六）</p>
<p><img src="/media/landing_page/4th-geekgame-banner.webp" style="max-height: 4em; max-width: 100%;">
</center>
<br></p>
<style>
.template-game table {
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
}

.template-game table td,
.template-game table th {
    border-top: 1px solid #bbb;
    padding: .35em .5em;
    text-align: center;
}
.template-game thead>tr,
.template-game tr.title {
    background-color: #fcfcfc;
    font-weight: bold;
}

.template-game .responsive-large {
    display: none;
}
.template-game .responsive-small {
    display: contents;
}
@media screen and (min-width: 900px) {
    .template-game .responsive-large {
        display: contents;
    }
    .template-game .responsive-small {
        display: none;
    }
}

.template-game details>summary {
    font-weight: bold;
    margin: .75em 0;
    cursor: pointer;
    text-align: center;
}

.template-game .tplink-table td {
    width: 50%;
    vertical-align: top;
}
</style>

<p>“京华杯”信息安全综合能力竞赛（GeekGame）由北京大学和清华大学共同举办，旨在为同学们提供接触安全技能与创新技术的机会，同时促进人才选拔和两校学生的交流。本届竞赛是北京大学第四届信息安全综合能力竞赛（4th PKU GeekGame）与清华大学第八届网络安全技术挑战赛（THUCTF 2024）的结合。</p>
<p>本届竞赛将继续坚持<strong>真实、自由、有趣</strong>的出题原则，兼顾题目质量和难度梯度，让没有相关经验的新生和具有一定专业基础的学生都能享受比赛，在学习的过程中有所收获。</p>
<p>题目考察范围包括：</p>
<ul>
<li><strong>Misc:</strong> 综合技能（常见文件编码、代码审计等）</li>
<li><strong>Web:</strong> 网站安全（Web 漏洞利用、JavaScript 编程等）</li>
<li><strong>Binary:</strong> 二进制安全（逆向工程、程序调试等）</li>
<li><strong>Algorithm:</strong> 算法安全（密码学、算法设计分析等）</li>
</ul>
<section>
<h2>📅 赛程安排</h2>
<p>比赛时间为 <strong>2024 年 10 月 12 日（周六）12:00 到 19 日（周六）12:00</strong>，持续一周。
选手需要独立解决与安全相关的谜题获得答案。在比赛结束前可以随时登录 geekgame.pku.edu.cn 参赛。</p>
<p>本届竞赛将分为两个阶段，时长分别为 5 天和 2 天。<strong>在第二阶段将对多数或全部题目放出提示或降低难度，但是将只能获得 40% 的分数。</strong>通过第二阶段，希望思路卡壳的选手能够借助提示不留遗憾，同时萌新也有机会挑战难题。</p>
<p>北京大学、清华大学校内排名前 33 的选手需要在 20 日（周日）23:00 前提交每道解出题目的解题报告（Writeup），其他选手可以自愿提交。比赛结束后将举办颁奖典礼，并公开官方 Writeup 和部分优秀选手 Writeup。</p>
</section>
<section>
<h2>🏫 相关单位</h2>
<table class="tplink-table"><tbody>
<tr class="title"><td colspan=2>指导单位</td></tr>
<tr><td>
北京大学计算中心<br>
北京大学计算机学院<br>
北京大学信息科学技术学院<br>
北京大学长沙计算与数字经济研究院
</td><td>
清华大学信息化工作办公室<br>
清华大学网络科学与网络空间研究院
</td></tr>
<tr class="title"><td colspan=2>主办单位</td></tr>
<tr><td colspan=2>“京华杯” 信息安全综合能力竞赛组委会</td></tr>
<tr class="title"><td colspan=2>承办单位</td></tr>
<tr><td>
北京大学PKUCC战队<br>
北京大学学生Linux俱乐部
</td><td>
清华大学Redbud战队<br>
清华大学学生网络安全技术协会
</td></tr>
<tr class="title"><td colspan=2>特别鸣谢</td></tr>
<tr><td>
蚂蚁科技集团股份有限公司<br>
北京微步在线科技有限公司<br>
深信服科技股份有限公司
</td><td>
OpenHarmony项目群工作委员会
</td></tr>
</tbody></table>
</section>
<section>
<h2>📜 资料推荐</h2>
<ul>
<li>往届 PKU GeekGame 资料存档（<a target="_blank" rel="noopener noreferrer" href="https://github.com/PKU-GeekGame/geekgame-3rd">第三届</a>、<a target="_blank" rel="noopener noreferrer" href="https://github.com/PKU-GeekGame/geekgame-2nd">第二届</a>、<a target="_blank" rel="noopener noreferrer" href="https://github.com/PKU-GeekGame/geekgame-1st">第一届</a>、<a target="_blank" rel="noopener noreferrer" href="https://github.com/PKU-GeekGame/geekgame-0th">第零届</a>）</li>
<li><a target="_blank" rel="noopener noreferrer" href="https://hack.lug.ustc.edu.cn/">中国科学技术大学 Hackergame</a></li>
<li><a target="_blank" rel="noopener noreferrer" href="https://ctf-wiki.org/">CTF Wiki</a></li>
<li>《深入理解计算机系统》等相关书籍</li>
</ul>
</section>
